{namespace com.maciejkucia.repopullrequest.hook.PullRequestHook}

/**
 *
 */
{template .testButton}
    <button id="testButton"
            class="button-panel-button">
        Test
    </button>
{/template}